<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Quiz</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
<h2>Quiz: el juego de las preguntas</h2>

<h3>Créditos</h3>
Autor: <%= author %><p>
<img id="fotoautor" src="<%= photo %>" alt="[Foto del autor]" />

</body>
</html>
