<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido/a a <%= title %></h1>
    <p>El portal donde puedes crear tus juegos de preguntas.</p>
    <p><a href="/quizes/question">Empieza el juego</a></p>
  </body>
</html>
