<p><%= respuesta %></p>
<% if ( respuesta === 'Correcto') { %>
<p><a href="/quizes">Volver a lista de preguntas</a></p>
<% } else { %>
<p><a href="/quizes/<%= quiz.id %>">Intertar de nuevo</a></p>
<% } %>
