<form method="get" action="/quizes">
  <label for="search">Introducir texto para buscar preguntas:</label>
  <input type="text" name="search" value="<%= srch %>">
  <input type="submit" value="Enviar">
</form>
<table>
<% if (quizes.length > 0) { %>
<%     for (var i=0; i < quizes.length; i++) { %>
    <tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
<%     } %>
<% } else { %>
    <tr><td>No se han encontrado preguntas.</td></tr>
<% } %>
    <tr><td><a href="quizes/new"><button type="button">Crear pregunta</button></a></td></tr>
</table>
