<p>Añadir nueva pregunta:</p>
<form method="post" action="/quizes/create">
  <div>
    <label for="preg" class="rem">Pregunta:</label>
    <input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>" />
  </div>
  <div>
    <label for="resp" class="rem">Pregunta:</label>
    <input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>" />
  </div>
  <div>
    <a href="/quizes"><button type="button">Cancelar</button></a>
    <input type="submit" value="Guardar" />
  </div>
</form>
