<form method="get" action="/quizes/<%= quiz.id %>/answer">
  <label for="respuesta">Pregunta: <%= quiz.pregunta %></label><p>
  <input type="text" name="respuesta" value="Responde aquí" />
  <input type="submit" value="Enviar" />
</form>
