<h2>Login</h2>
<form method="post" action="/login">
  <div class="field">
    <label for="login">Usuario:</label>
    <input type="text" id="login" name="login" size="30" /></p>
  </div>
  <div class="field">
    <label for="login">Clave:</label>
    <input type="text" id="password" name="password" size="30" /></p>
  </div>
  <div class="actions">
    <input type="submit" name="commit" value="Acceder" />
  </div>
</form>

